@model IEnumerable<LMS.Models.Librarian>

<h1>Librarian</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>UsernameName</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var librarian in Model)
    {
        <tr>
            <td>@librarian.Id</td>
            <td>@librarian.Name</td>
        </tr>
    }
    </tbody>
</table>